.jumbotron {
	margin: 0px;
	max-height: 60px;
	padding: 10px;
	background-color: #f4d942;
	border-bottom-left-radius: 0; 
	border-bottom-right-radius: 0;
}

.jumbotron h5{
	color: #0fa870;
	padding-bottom:20px;
	margin:0px;
}

.navs{
	background-color: #f4d942;
	margin-top: 3px;

}

#toShow{
	
	z-index: 20;
	position: fixed;
	clear: both;
}

.navs .navbar-toggler{
	background-color: #808e003b;
}

.navbar-toggler .navbar-toggler-icon{
	background-image: url(../images/hambug.svg);
}



#fixHeader{
	height: 116px;
}

#home{
	z-index: 18;
	
}

.login-page, .register-page{
	margin-top: 200px;
	z-index:9; 
}


#about{
	z-index: 16;
	

}

#doctors{
	z-index: 15;

}

#services{
	z-index: 14;

}

#contact{
	z-index: 13;

}

.btnMsg, .btn-login{
	background-color: #f4d942;
	width: 100%;
	height: 40px;
	margin-bottom: 10px;
	padding: 5px;

}

.btnMsg:hover, .btn-login:hover{
	color:#0fa870;
	text-decoration: none;
	background-color: #f4ee42b3
}

.btn-login a{
	color:#0fa870;
	text-decoration: none;
}

.btn, .btn:hover{
	color: #0fa870;
}

.btnStfLogin{
	color: #f4d942; !important
}

.footer {
	z-index: 1;
	background-color: #f4d942; 
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;

}

hr {
	width: 50%;
	background-color: #f4d942;
}



/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  h5 {
    font-size: 2em;
  }


  .container-fluid{
	width: 80%;
	margin-right: 10%;
	margin-left: 10%;
}

}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  h5 {
    font-size: 1.1em;
  }


  .jumbotron {
	margin: 0px;
	max-height: 50px;
}


.container-fluid{
	width: 96%;
	margin-right: 2%;
	margin-left: 2%;


}

	p {
	font-size: 0.6em;
}

.copyright {
	font-size: 0.8em;
}

}

